<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".blackcoffee">Black Coffee</button>
                        <button data-filter=".whitecoffee">White Coffee</button>
                        <button data-filter=".diary">Diary</button>
                        <button data-filter=".tea">Tea</button>
                        <button data-filter=".sparkling">Sparkling</button>
                        <button data-filter=".handcrafted">Handcrafted</button>
                    </div>
                </div>
            </div>
        </div>